@import 'mixins';

@mixin classement {
    background-color: $colorNav;
    display: flex;
    justify-content: space-around;

               //Responsive mobile 
               @media (max-width: 768px){
                display: flex;
                flex-direction: column;
               }

    .conferenceOuest {
        @include positionClassement;

        #propertiesClassement {
            @include propertiesClassement;
        }
    }

    .conferenceEst {
        padding-top: 15vh;
        @include positionClassement;

        //Responsive tablette
        @media (max-width: 992px) {
            padding-top: 12vh;
        }

        #propertiesClassement {
            @include propertiesClassement;
        }
    }
}