@import 'variables';

@mixin contact {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    //Responsive tablette
    @media (max-width: 992px) {
        width: 90%;
        margin: auto;
    }

    div {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2vh;
        padding-bottom: 2vh;

                   //Responsive mobile 
                   @media (max-width: 768px){
                    display: flex;
                    flex-direction: column;
                   }

        p {
            text-align: center;
            width: 40%;
            color: $contentColor;
        }
    }
}